{{> header}}
        <div class="m-grid__item m-grid__item--fluid m-wrapper">

        	<div class="m-content">
        		{{#if error}}
        		<div class="alert alert-danger alert-dismissible fade show" role="alert">
        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        			</button>
        			<strong>Oh snap!</strong> {{error}}
        		</div>
        		{{/if}}
            {{#if success}}
        		<div class="alert alert-success alert-dismissible fade show" role="alert">
        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        			</button>
        			<strong>Success!</strong> {{success}}
        		</div>
        		{{/if}}

            <!--Begin::Main Portlet-->

            <div class="row">
              <div class="col-xl-6">

								<!--begin:: Widgets/Expense Analytics-->

								<div class="m-portlet  m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Support Cases
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
													<a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
														<i class="la la-ellipsis-h m--font-brand"></i>
													</a>
													<div class="m-dropdown__wrapper">
														<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
														<div class="m-dropdown__inner">
															<div class="m-dropdown__body">
																<div class="m-dropdown__content">
																	<ul class="m-nav">
																		<li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">Quick ActTions</span>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-share"></i>
																				<span class="m-nav__link-text">Activity</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-chat-1"></i>
																				<span class="m-nav__link-text">Messages</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-info"></i>
																				<span class="m-nav__link-text">FAQ</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																				<span class="m-nav__link-text">Support</span>
																			</a>
																		</li>
																		<li class="m-nav__separator m-nav__separator--fit">
																		</li>
																		<li class="m-nav__item">
																			<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Cancel</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget16">
											<div class="row">
												<div class="col-md-5">
													<div class="m-widget16__head">
														<div class="m-widget16__item">
															<span class="m-widget16__sceduled">
																Day
															</span>
															<span class="m-widget16__amount m--align-right">
																Most Frequent Expense
															</span>
                              <span class="m-widget16__amount m--align-right">
																Occurrences
															</span>
														</div>
													</div>
													<div class="m-widget16__body">

														<!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Sunday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenses[0]}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequencies[0]}}
															</span>
														</div>

														<!--end::widget item-->

														<!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Monday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenses[1]}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequencies[1]}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Tuesday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenses[2]}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequencies[2]}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Wednesday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenses[3]}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequencies[3]}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Thursday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenses[4]}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequencies[4]}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Friday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenses[5]}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequencies[5]}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Saturday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenses[6]}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequencies[6]}}
															</span>
														</div>

														<!--end::widget item-->
													</div>
												</div>
												<div class="col-md-7">
													<div class="m-widget16__stats">
														<div class="m-widget16__visual">
															<div id="m_chart_support_tickets" style="height: 180px">
															</div>
														</div>
														<div class="m-widget16__legends">
															<div class="m-widget16__legend">
																<span class="m-widget16__legend-bullet m--bg-info"></span>
																<span class="m-widget16__legend-text">20% Margins</span>
															</div>
															<div class="m-widget16__legend">
																<span class="m-widget16__legend-bullet m--bg-accent"></span>
																<span class="m-widget16__legend-text">80% Profit</span>
															</div>
															<div class="m-widget16__legend">
																<span class="m-widget16__legend-bullet m--bg-danger"></span>
																<span class="m-widget16__legend-text">10% Lost</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--end:: Widgets/Support Stats-->

							</div>
            </div>

        		<!--End::Main Portlet-->

        	</div>
        </div>
{{> footer}}
