{{> header}}
        <div class="m-grid__item m-grid__item--fluid m-wrapper">

        	<div class="m-content">
        		{{#if error}}
        		<div class="alert alert-danger alert-dismissible fade show" role="alert">
        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        			</button>
        			<strong>Oh snap!</strong> {{error}}
        		</div>
        		{{/if}}
            {{#if success}}
        		<div class="alert alert-success alert-dismissible fade show" role="alert">
        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        			</button>
        			<strong>Success!</strong> {{success}}
        		</div>
        		{{/if}}

            <!--Begin::Main Portlet-->

            <div class="row">
              <div class="col-xl-8">

								<!--begin:: Widgets/Expense Analytics-->

								<div class="m-portlet  m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Most Frequent Expenses by Day
												</h3>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget16">
											<div class="row">
												<div class="col-lg-10">
													<div class="m-widget16__head">
														<div class="m-widget16__item">
															<span class="m-widget16__sceduled">
																Day
															</span>
															<span class="m-widget16__amount m--align-right">
																Most Frequent Expense
															</span>
                              <span class="m-widget16__amount m--align-right">
																Occurrences
															</span>
														</div>
													</div>
													<div class="m-widget16__body">

														<!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Sunday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expense0}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequency0}}
															</span>
														</div>

														<!--end::widget item-->

														<!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Monday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expense1}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequency1}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Tuesday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expense2}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequency2}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Wednesday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expense3}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequency3}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Thursday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expense4}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequency4}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Friday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expense5}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequency5}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
															<span class="m-widget16__date">
																Saturday
															</span>
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expense6}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseFrequency6}}
															</span>
														</div>

														<!--end::widget item-->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
            </div>

            <div class="row">
              <div class="col-xl-8">

								<!--begin:: Widgets/Expense Analytics-->

								<div class="m-portlet  m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Top 5 Expenses by Cost
												</h3>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget16">
											<div class="row">
												<div class="col-lg-10">
													<div class="m-widget16__head">
														<div class="m-widget16__item">
															<span class="m-widget16__sceduled">
																Expense Name
															</span>
															<span class="m-widget16__amount m--align-right">
																Total Spent
															</span>
														</div>
													</div>
													<div class="m-widget16__body">

														<!--begin::widget item-->
														<div class="m-widget16__item">
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenseName1}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseCost1}}
															</span>
														</div>

														<!--end::widget item-->

														<!--begin::widget item-->
														<div class="m-widget16__item">
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenseName2}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseCost2}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenseName3}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseCost3}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenseName4}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseCost4}}
															</span>
														</div>

														<!--end::widget item-->

                            <!--begin::widget item-->
														<div class="m-widget16__item">
                              <span class="m-widget16__price m--align-right m--font-brand">
																{{expenseName5}}
															</span>
															<span class="m-widget16__price m--align-right m--font-brand">
																{{expenseCost5}}
															</span>
														</div>

														<!--end::widget item-->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
            </div>

        		<!--End::Main Portlet-->

        	</div>
        </div>
{{> footer}}
